@using Sald.Data.Data.Data
@using Sasso.Data.Data.Data
@using Sald.Data.HelperClass

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="EURUS MACIEJ DURACZYŃSKI - W naszej ofercie znajdą Państwo między innymi: szkolenia, doradztwo, analizy. Szczegóły dostępnena na stronie duraczynski.pl" />
    <meta name="author" content="Krzysztof Franczyk" />
    <title>EURUS</title>
    <meta property="og:title" content="EURUS"> @*uzupelnic*@
    <meta property="og:site_name" content="www.duraczynski.pl"> @*uzupelnic*@
    <meta property="og:url" content="www.duraczynski.pl">
    <meta property="og:description" content="EURUS MACIEJ DURACZYŃSKI - szkolenia, doradztwo, analizy">  @*uzupelnic*@
    <meta property="og:type" content="business.busines">
    <meta property="og:image" content="@FileAction.GetImg((MyFile)ViewBag.Logo)">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Themes/assets/duraczynski.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Themes/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="header-background" style="background-image: url('/svg/big_idea_detail_new.jpg');">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid p-2 p-md-0">
                <a class="navbar-brand" asp-controller="home" asp-action="index">
                    <img src="" class="page-logo" style="max-height:40px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 align-self-end">

                        @foreach (var item in ViewBag.Offer as List<Offer>)
                        {
                            <li class="nav-item"><a class="nav-link" asp-action="Page" asp-route-id="@item.OfferID">@item.LinkName</a></li>
                        }
                        <li class="nav-item"><a class="nav-link" asp-action="Projects" asp-controller="Home">Projekty</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header>
            <div class="container-fluid px-4 px-lg-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 my-4 center text-white">
                        <h1 class="display-6 text-center slogan">@ViewBag.TextHead</h1>
                    </div>
                </div>
            </div>
        </header>
    </div>

    @RenderBody()


    @*About us*@
    @if (!String.IsNullOrWhiteSpace(ViewBag.AboutTextMain) && !String.IsNullOrWhiteSpace(ViewBag.AboutText))
    {
        @await Html.PartialAsync("partial_AboutAs");
    }



    <!-- Footer-->
    @{
        Contact contact = ViewBag.Info;
        List<Address> address = ViewBag.Address;
    }
    <footer id="contact">
        <div class="container-fluid px-4 px-lg-5 position-relative">
            <div class="row">
                @****  1  ****@
                <div class="col-12 text-white small d-flex justify-content-center justify-content-md-start align-items-start text-center text-md-start py-3 py-md-0">
                    <img class="page-logo footer-logo position-absolute" src="" style="max-height:70px;" />
                </div>

                <div class="col-lg-4 text-white small d-flex justify-content-center justify-content-md-start align-items-start text-center text-md-start py-3 py-md-0">
                    <div class="row">

                        <div class="col-12 py-2">

                            @contact.Name <br />

                            @if (String.IsNullOrWhiteSpace(contact.KRS) != true)
                            {
                                @:KRS:  @contact.KRS<br />
                            }
                            @if (String.IsNullOrWhiteSpace(contact.NIP) != true)
                            {
                                @:KRS:  @contact.NIP<br />
                            }
                            @if (String.IsNullOrWhiteSpace(contact.REGON) != true)
                            {
                                @:REGON:  @contact.REGON<br />
                            }
                        </div>
                    </div>
                </div>
                @****  2  ****@
                <div class="col-lg-8 text-white small d-flex justify-content-center justify-content-md-start align-items-start text-center text-md-start  px-4 py-3 py-md-0">
                    <div class="container">
                        <div class="row mx-0">
                            @{
                                bool first = true;
                            }
                            @foreach (var itemAddress in address)
                            {
                                <div class="col-lg-1 d-flex justify-content-center justify-content-lg-end align-items-start text-center text-lg-end mt-4 mt-lg-0">
                                    @if (first == true)
                                    {
                                        <i class="bi bi-house"></i>
                                    }
                                </div>
                                <div class="col-lg-3 px-0 pt-2 d-flex justify-content-center justify-content-lg-start align-items-start text-center text-lg-start">
                                    @(itemAddress.HeadOffice == true ? "Siedziba główna" : "Filia") <br />

                                    @if (!String.IsNullOrEmpty(itemAddress.Name))
                                    {
                                        @itemAddress.Name
                                        @:<br />
                                    }
                                    @itemAddress.Street @itemAddress.Number <br />
                                    @itemAddress.ZIPCode @itemAddress.City <br />
                                    @itemAddress.Country <br />
                                </div>
                                <div class="col-lg-1 d-flex justify-content-center justify-content-lg-end align-items-start text-center text-lg-end mt-4 mt-lg-0">
                                    @if (first == true)
                                    {
                                        <i class="bi bi-phone"></i>
                                    }
                                </div>
                                <div class="col-lg-3 px-0 pt-2 d-flex justify-content-center justify-content-lg-start align-items-start text-center text-lg-start">
                                    @foreach (var itemPhone in itemAddress.Phones)
                                    {
                                        @itemPhone.NamePhone@:: @itemPhone.PhoneNumber<br />
                                    }
                                </div>
                                <div class="col-lg-1 d-flex justify-content-center justify-content-lg-end align-items-start text-center text-lg-end mt-4 mt-lg-0">
                                    @if (first == true)
                                    {
                                        <i class="bi bi-envelope-open"></i>
                                    }
                                </div>
                                <div class="col-lg-3 px-0 pt-2 d-flex justify-content-center justify-content-lg-start align-items-start text-center text-lg-start">
                                    @foreach (var itemEmail in itemAddress.Emails)
                                    {
                                        @itemEmail.EmailAdress<br />
                                    }
                                </div>
                                first = false;
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-1 mt-4 pt-4">
                    <p class="m-0 text-center text-md-start text-white small">Copyright &copy; @contact.Name duraczynski.pl @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- RODO -->
    <div class="container-fluid px-4 px-lg-5 py-5 rodo" id="rodo">
        <div class="row d-flex justify-content-center justify-content-md-end p-2">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="row rodo-border bg-white">
                    <div class="col-10">
                        <h6>Ta strona wykorzystuje pliki cookie</h6>
                        <p>
                            @ViewBag.Cookies
                        </p>
                    </div>
                    <div class="col-2">
                        <a href="#" id="rodoc"><img class="img-fluid" src="~/svg/x-lg.svg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Button top*@
    @{
        string routeActionName = ViewContext.RouteData.Values["Action"].ToString();
        if (routeActionName != "Index")
        {
            <button id="myBtnLeft" title="Go to top">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
            </button>
        }
    }
    <button id="myBtnTop" title="Go to top">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
        </svg>
    </button>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Themes/js/scripts.js"></script>
    <script src="~/js/logo.js"></script>
    <script src="~/js/wwwLayout.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>





